.login-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
}

.login-form-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.login-field {
    font-size: 24px;
    padding: 10px;
}

.login-register-button {
    font-size: 20px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background: RGBA(99, 210, 255, 1);
    color: RGBA(11, 10, 7, 1);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.loginpage-error-message {
    color: #cf5c36;
    border: #cf5c36;
    font-size: 0.6em;
    margin: 2px;
}
