.flightsfilter-container {
    color: var(--smoky-black);
    background-color: var(--vivid-sky-blue);
}

.flightsfilter-chart {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 992px) {
    .flightsfilter-container {
        color: var(--smoky-black);
        background-color: var(--vivid-sky-blue);
    }

    .flightsfilter-chart {
        margin-left: auto;
        margin-right: auto;
    }
}