.navbar-container {
    font-family: Oxygen, sans-serif;
    font-size: 12px;
    background-color: var(--green-blue-crayola);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-button {
    background: var(--vivid-sky-blue);
    color: var(--smoky-black);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.navbar-icon {
    height: 16px;
    padding-right: 5px;
}

@media screen and (min-width: 576px) {
    .navbar-container {
        font-size: 20px;
        border-radius: 15px;
        height: 75px;
        align-items: center;
        margin: 10px;
        overflow: auto;
        position: static;
        width: auto;
    }

    .navbar-button {
        border-radius: 15px;
        padding: 10px 10px 10px 10px;
        min-height: 50px;
    }

    .navbar-icon {
        height: 30px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 992px) {
    .navbar-container {
        font-size: 24px;
        border-radius: 20px;
        height: 80px;
        align-items: center;
    }
}
