.navbar-container {
  font-family: "Oxygen", sans-serif;
  font-size: 24px;
  background-color: RGBA(32, 129, 195, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  height: 100px;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 20px 10px 20px;
  padding: 0px 0px 0px 0px;
}

.navbar-button {
  background: RGBA(99, 210, 255, 0.3);
  color: RGBA(11, 10, 7, 1);
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

.navbar-icon {
  height: 50px;
}
