.weather-container {
    display: flex;
    flex-direction: column;
    color: var(--smoky-black);
    background-color: var(--vivid-sky-blue-transparant);
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto 0 auto;
}

.weather-header {
    font-family: "Kite One", sans-serif;
    font-size: 13px;
    margin: auto;
}

.weather-list {
    padding: 3px 0 3px 3px;
    font-size: 10px;
}

.weather-list li {
    padding: 3px;
}

.weather-current-weather {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.weather-icon {
    margin: auto;
}

@media screen and (min-width: 576px) {
    .weather-container {
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        max-width: 300px;
        padding: 10px;
    }

    .weather-header {
        font-size: 16px;
    }

    .weather-list {
        padding: 5px;
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .weather-container {
        justify-content: flex-start;
        align-items: flex-start;
        flex-basis: auto;
        border-radius: 20px;
        min-width: 250px;
        min-height: 50px;
        max-height: 350px;
        padding: 10px;
    }

    .weather-list {
        padding: 5px;
        font-size: 14px;
    }

    .weather-list li {
        padding: 5px;
    }

    .weather-header {
        font-size: 18px;
    }

    .weather-current-weather {
        flex-direction: column;
    }
}
