@import url("https://fonts.googleapis.com/css2?family=Kite+One&family=Oxygen:wght@400;700&display=swap");

body {
    font-family: "Oxygen", sans-serif;
    background-color: RGBA(236, 235, 243, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
